@media (max-width: 575.98px) {
  .avatar {
    display: none;
  }

  /* banner */

  .img-banner {
    text-align: center;
    width: 100%;
    position: relative;
    overflow: hidden;
  }
  .imgbanner {
    transform: translate(-30%, 0);
  }
  #banner {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 40%);
    text-align: center;
    color: #f7f7f7;
  }

  /* nav-bar */

  #nav-bar {
    position: relative;
  }
  .container {
    display: flex;
    flex-direction: column;
    height: auto;
    text-align: start;
    padding: 30px 50px;
    font-size: large;
  }
  .nav-bar-border {
    border: none;
    padding-bottom: 30px;
    font-size: 40px;
  }
  a {
    text-decoration: none;
  }

  /* mục tiêu */
  h1 {
    font-size: 40px;
  }
  .container1 {
    font-size: 25px;
    background-color: #f7f7f7;
    padding: 30px 20px;
  }
  .container1 > div {
    padding: 20px 10px;
  }
  .container1 > div > p {
    padding-top: 20px;
  }
  .container1 > div > ul > li {
    padding-top: 10px;
  }
  .sec2icon {
    font-size: 50px;
    position: absolute;
  }
  .habit-icon {
    padding: 10px 10px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: solid;
    border-color: aquamarine;
  }
  .item1 {
    background: #199cdb;
    display: inline-block;
    height: 2px;
    margin-right: 10px;
    width: 45px;
  }
  .item2 {
    background: #c0b8b87c;
    display: inline-block;
    height: 2px;
    margin-right: 10px;
    width: 45px;
  }
  .container3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 25px;
    text-align: center;
    background-color: rgba(236, 236, 236, 0.295);
    margin: 20px;
  }
  .container3-border {
    border-bottom: solid;
    border-color: #d6c08d;
    grid-row: 3/4;
    grid-column: 1/-1;
    width: 100%;
  }
  .container3-border1 {
    border-bottom: solid;
    border-color: #d6c08d;
    grid-row: 3/4;
    grid-column: 1/-1;
    width: 100%;
  }
  .container3IMG {
    width: 300px;
  }

  .container4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(218, 243, 243, 0.233);
    margin: 20px;
    overflow: hidden;
    align-items: stretch;
    padding: 10px;
  }
  .item4 {
    padding: 5px 10px;
    text-align: center;
    background-color: #199cdb;
    border-radius: 3em;
    color: aliceblue;
    font-size: 13px;
    align-self: center;
  }
  .project-info {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    font-size: 13px;
    padding: 10px;
    color: rgb(140, 143, 143);
  }
  .table-info {
    display: flex;
    justify-self: start;
    color: rgb(140, 143, 143);
    font-size: 13px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .contain4-boder > div {
    border: solid;
    border-color: rgba(85, 85, 82, 0.205);
    padding: auto;
  }
  .container4 > div {
    margin-bottom: 50px;
  }

  /* footer */
  .container5 {
    display: inline-block;
    width: 100%;
    height: 50px;
    text-align: center;
    position: relative;
  }
  .move-top {
    display: none;
  }
}
